<table class="table" style="margin: 0 auto;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">email</th>
      <th scope="col">address</th>
      <th scope="col">status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let index=index">
      <th scope="row">{{index}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.addresse}}</td>
      <td>{{user.status}}</td>
      <td>
        <button (click)="view(user)" type="button" class="btn" aria-label="Close"> view</button>
      </td>
    </tr>
  </tbody>
</table>